
 /* div.jobs {
    align-items: center;
    width: 100%;
    align-content: center;
    align-self: center;
 } */

/* div.jobs table tbody tr.tabledatarow {
    border-style: single;
    border-color: black;
    border-width: 3px;
    border: 10px solid black
}

.joblink {
    color: blue
}

.joblink:visited {
    color: blue
} 
*/