
div.headarea {
  padding-top: 4px;
  padding-bottom: 10px;
  border-bottom: 4px solid grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div div.brand a {
  float: left;
  text-align: center;
  text-decoration-line: none;
  width: 50%;
  font-size: 40px;
  color: black;
}

div div.brand a:hover{
  color: orange;
}

div div.links {
  display: inline;
  float: right;
  width: 50%;
  font-size: 24px;
  text-align: center;
}

div div.links ul.navlist li a:hover {
  color: orange;
}

/* div div ul.navlist {
  list-style: none;
} */

div div.links ul.navlist li {
  display: inline;
  padding: 7px;
}

div div.links ul.navlist li a {
  text-decoration-line: none;
  color: black;
}

div div ul.navlist li a:visited {
  color: black;
}


