
div.headarea {
  padding-top: 4px;
  padding-bottom: 10px;
  border-bottom: 4px solid grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.brand {
  float: left;
  white-space: normal;
  text-align: center;
  width: 50%;
  font-size: 40px;
}

div.links {
  display: inline;
  float: right;
  width: 50%;
  font-size: 24px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 7px;
}

a {
  text-decoration-line: none;
  color: black;
}

a:visited {
  color: black;
}

.links a:hover {
  color: orange;
}
